@import "../helpers/sass-flexbox";
$primary-color: #ffd92d;
$primary-hover-color: #ffe77d;
$secondary-color-light: #eaeaea;
$secondary-color-dark : #393939; 
$overlay-grey-background: rgba(57, 57, 57, 0.9);

$font-regular: 'Open Sans', sans-serif;
$font-header: 'Open Sans Condensed', sans-serif;
@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

@mixin transform-style($style){
   transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;  
}

@mixin backface-visibility($visibility: hidden) {
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

// WINDOWS

.wdw {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin-top: 75px;
}

// MODALS

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F1F1F1;
	color: #4E4E4E;
    margin: 15% auto;
    padding: 20px;
    width: 45vw;
    height: 50vh;
    border-radius: 4px;
}

.header {
	@include display-flex();
	@include justify-content(space-between);
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 75px;
	top: 0px;
	left: 0px;
	z-index: 98px;
	background-color: #eaeaea;
	font-size: 24px;
	.menu-icon {
		margin-left: 20px;
		cursor: pointer;
	}
	.logo {
		margin-right: 20px;
	}
}
#menu {
	//@include display-flex();
	//@include flex-direction(column);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 250px;
	height: 100vh;
	top: 0px;
	left: -250px;
	width: 250px;
	height: 100vh;
	background-color: #ffd92d;//#eaeaea;
	color: #ffffff;
	font-size: 24px;
	z-index: 99;
	.menu-link {
		padding: 20px 0px 20px 0px;
		cursor: pointer;
	}
}
#content-overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 98;
}
.button {
	width: 250px;
	height: 40px;
	background-color: #ffd92d;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		background-color: #ffe77d;
	}
}
.cancel-button {
	width: 250px;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	background-color: #C1C1C1;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	&:hover {
		background-color: #d1d1d1;
	}

}
.stop-scrolling {
	overflow: hidden;
}

input[type="text"] {
	height: 40px;
	width: 350px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
}
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// INDEX

#wdw-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	#header-image-index {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 375px;
		margin-left: 0px;
		background-image: url("../images/header-image-index.jpg");
		#header-image-index-text {
			display: flex;
			flex-direction: column;
			align-items:center;
			width: 45vw;
			max-width: 600px;
			padding: 0px 30px 20px 20px;
			background-color: rgba(57,57,57, 0.9);
			color: #ffffff;
			h1 {
				margin-top: 20px;
			}
			h3 {
				margin: 20px 0px;
			}
		}
	}
	#event-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 90vw;
		margin-top: 40px;
		#event-filters-container {
			@include display-flex();
			@include justify-content(flex-end);
			width: 100%;
			span {
				margin: 0px 40px 20px 0px;
				font-size: 18px;
			}
			.filter-button {
				@include display-flex();
				cursor: pointer;
				
			}
			#dropdown-filter-level {
				overflow: hidden;
				&:hover .filter-dropdown-content {
					@include display-flex();
				}
			}
			#dropdown-category-level {
				overflow: hidden;
				&:hover .filter-dropdown-content {
					@include display-flex();
				}
			}
			.filter-dropdown-content {
			    display: none;
			    @include display-flex();
			    @include flex-direction(column);
			    @include align-items(space-around);
			    @include justify-content(space-around);
			    position: absolute;
			    margin-top: -1px;
			    background-color: #ffd92d;
			    color: #393939;
			    border-top-right-radius: 4px;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    z-index: 1;
			    font-family: 'Open Sans', sans-serif;
			    font-size: 14px;
			    .filter-level {
			    	float: none;
				    padding: 10px 15px 10px 15px;
				    margin: 0px;
				    text-decoration: none;
				    text-align: left;
				    cursor: pointer;
			    }
			    .filter-category {
			    	float: none;
				    padding: 10px 15px 10px 15px;
				    margin: 0px;
				    text-decoration: none;
				    text-align: left;
				    cursor: pointer;
				    &:hover {
				    	color: white;
				    }
			    }
			}
		}
		.card-event {
			width: 25vw;
			display: flex;
			flex-direction: column;
		.card-event-image {
			width: 100%;
			heigth: auto;
			cursor: pointer;
		}
		.card-event-image-overlay {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 30px 10px;
			background-color: rgba(0, 0, 0, 0.4);
			color: white;
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
		.event-card-details {
			display: flex;
			flex-direction: column;
		}
	}
	}
}
// FILTER CLASSES
.filter-level-hide {
	display: none !important;
}
.filter-category-hide {
	display: none !important;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ABOUT US
#wdw-about {
	display: flex;
	display: none;
	flex-direction: column;
	#header-image-about {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 375px;
		margin-left: 0px;
		background-image: url("../images/header-image-about.jpg");
		#txt-about {
			width: 45vw;
			max-width: 600px;
			padding: 0px 30px 20px 20px;
			background-color: rgba(57,57,57, 0.9);
			color: #ffffff;
			h2 {
				margin-top: 20px;
			}
			p {
				margin: 20px 0px;
			}
		}
	}
	#speaker-container {
		display: flex;
		width: 100vw;
		margin-left: 0px;
		flex-wrap: wrap;
		.card-speaker {
		display: flex;
		height: 20vw;
		width: 20vw;
		margin: 0px;
		@include transform-style(preserve-3d);
		@include transition(0.4s);
		&:hover {
	  	@include transform (rotatey(-180deg)); 
	}

	.front, .back {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    @include backface-visibility(hidden);
	    @include transform (rotateX(0deg));
	    cursor: default;
	}
	.front {
	  	z-index: 3;
	  	.img-speaker {
	  		width: 100%;
	  		height: 100%;
	  	}
	}
	.back {
	  	z-index: 1;
	  	background-color: #393939;
	  	color: #ffffff;
	  	word-wrap: break-word;
	  	line-height: 1.6;
	 	@include transform(rotatey(-180deg));
	}
	}
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// EVENT DETAILS

#wdw-event {
	display: flex;
	display: none;
	flex-direction: column;
	align-items: center;
	#header-image-event {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 375px;
		margin-left: 0px;
		#txt-event {
			width: 45vw;
			max-width: 600px;
			padding: 0px 30px 20px 20px;
			background-color: rgba(57,57,57, 0.9);
			color: #ffffff;
			h2 {
				margin-top: 20px;
			}
			p {
				margin: 20px 0px;
			}
		}
	}
	#wdw-event-content-container {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		#event-details-container {
			width: 90vw;
			display: flex;
			justify-content: flex-start;
		}
		#event-contributors-container {
			width: 90vw;
			display: flex;
			justify-content: flex-start;
			.card-speaker {
				display: flex;
				flex-direction: column;
				width: 30vw;
				height: auto;
				margin: 0px 10px 0px 10px;
				.card-speaker-header {
					width: 100%;
					height: 19vw;
					display: flex;
					flex-direction: column;	
					align-items: center;
					img {
						display: flex;
						width: 15vw;
						height: auto;
						border-radius: 50%;
						z-index: 5;
					}
					.card-speaker-header-background {
						width: 100%;
						height: 50%;
						background-color: #ffd92d;
						z-index: 4;
					}
				}
				.speaker-card-details {
					width: 90%;
					margin-top: auto	;
				}
			}
		}
		.separator {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 60px;
			margin: 20px auto 20px 0px;
			background-color: #eaeaea;
			color: black;
			font-size: 18px;
		}

	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ACCOUNTS
#wdw-accounts {
	#container-edit,
	#container-users {
		width: 49%;
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// EVENTS
#wdw-events {
	flex-direction: column;
	h2 {
		margin-top: 25px;
	}
}

// ACCOUNTS+EVENTS COMMON
#wdw-accounts,
#wdw-events {
	select,
	input:not([type="checkbox"]) {
		min-width: 200px;
		max-width: 250px;
		margin: 5px;
	}
}