@import "../helpers/sass-flexbox";
$primary-color: #ffd92d;
$primary-hover-color: #ffe77d;
$secondary-color-light: #eaeaea;
$secondary-color-dark : #393939; 
$overlay-grey-background: rgba(0,0,0,0.4);;//rgba(57, 57, 57, 0.5);

$font-regular: 'Open Sans', sans-serif;
$font-header: 'Open Sans Condensed', sans-serif;

@mixin font-header($size: '18px'){
	font-family: $font-header;
	font-size: $size;
	font-weight: bold;
}

@mixin font-subheader($size: '16px'){
	font-family: $font-regular;
	font-size: $size;
	font-weight: bold;
}

@mixin font-copy-text($size: '16px', $color: 'black'){
	font-family: $font-regular;
	font-size: $size;
	font-weight: lighter;
	color: $color;
}

@mixin header-image($url){
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);
	width: 100vw;
	min-height: 375px !important;
	margin-left: 0px;
	background-image: url($url);
}

@mixin header-image-text(){
	@include display-flex();
	@include flex-direction(column);
	@include align-items(center);
	width: 45vw;
	max-width: 600px;
	padding: 20px 30px 20px 20px;
	background-color: $overlay-grey-background;
	color: #ffffff;
}

@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

@mixin transform-style($style){
   transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;  
}

@mixin backface-visibility($visibility: hidden) {
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
	background-color: #f1f1f1;
}

p, span {
	@include font-copy-text();
}

// WINDOWS

.wdw {
	@include display-flex();
	width: 100vw;
	min-height: 100vh;
	margin-top: 55px;
}

// MODALS

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $overlay-grey-background;
    z-index: 99;
}
.modal-content {
	@include display-flex();
	@include flex-direction(column);
	@include align-items(center);
	background-color: #F1F1F1;
	color: #4E4E4E;
    margin: 5% auto;
    padding: 20px 20px 40px 20px;
    width: 45vw;
    height: 75vh;
    border-radius: 4px;
    h2 {
    	@include font-header();
    }
    form {
    	@include display-flex();
    	@include flex-direction(column);
    	@include justify-content(center);
    	@include align-items(center);
    	width: 90%;
    	#container-message-subject {
    		@include display-flex();
    		@include align-self(flex-start);
    		margin-top: 10px;
    		#message-subject {
    			margin-right: 20px;
    		}
    		.radio-button {
    			margin-right: 20px;
    		}
    	}
    	input[type="text"] {
			height: 40px;
			width: 100%;
			margin: 10px 0px 10px 0px;
			padding-left: 10px;
			border: none;
			font-size: 16px;
    	}
    	#message-text {
    		height: 115px !important;
    	}
    }
}

.modal-buttons {
	@include display-flex();
	@include align-self(flex-end);
	margin-top: 10px;
	.button, .cancel-button {
		width: 150px;
		margin-left: 20px;
	}
}

.header {
	@include display-flex();
	@include justify-content(space-between);
	@include align-items(center);
	position: absolute;
	width: 100vw;
	height: 55px;
	top: 0px;
	left: 0px;
	z-index: 98px;
	background-color: #eaeaea;
	font-size: 24px;
	.menu-icon {
		margin-left: 20px;
		cursor: pointer;
	}
	.logo {
		margin-right: 20px;
	}
}
#menu {
	@include display-flex();
	@include flex-direction(column);
	@include align-items(center);
	position: absolute;
	width: 250px;
	height: 100vh;
	top: 0px;
	left: -250px;
	width: 250px;
	height: 100vh;
	background-color: #ffd92d;//#eaeaea;
	color: #ffffff;
	font-size: 24px;
	z-index: 99;
	.menu-link {
		padding: 20px 0px 20px 0px;
		cursor: pointer;
	}
}
#content-overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: $overlay-grey-background;
	z-index: 98;
}
.button {
	width: 250px;
	height: 40px;
	background-color: #ffd92d;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		background-color: #ffe77d;
	}
}
.cancel-button {
	width: 250px;
	height: 40px;
	padding-left: 10px;
	background-color: #C1C1C1;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	&:hover {
		background-color: #d1d1d1;
	}

}
.stop-scrolling {
	overflow: hidden;
}
/*
input[type="text"] {
	height: 40px;
	width: 350px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
}
*/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// INDEX

#wdw-index {
	@include display-flex();
	@include flex-direction(column);
	@include align-items(center);
	#header-image-index {
		@include header-image("../images/header-image-index.jpg");
		//background-image: url("../images/header-image-index.jpg");
		#header-image-index-text {
			@include header-image-text();
			h1 {
				margin-top: 20px;
				@include font-header(42px);
			}
			h3 {
				margin: 20px 0px;
				font-family: $font-regular;
				font-size: 18px;
				font-weight: lighter;
			}
		}
	}
	#event-container {
		@include display-flex();
		@include flex-wrap(wrap);
		@include justify-content(space-around);
		max-width: 80vw;
		margin-top: 40px;
		#event-filters-container {
			@include display-flex();
			@include justify-content(flex-end);
			width: 100%;
			span {
				margin: 0px 40px 20px 0px;
				cursor: default;
				@include font-header();
			}
			.filter-button {
				@include display-flex();
				cursor: pointer;
				
			}
			#dropdown-filter-level {
				overflow: hidden;
				&:hover .filter-dropdown-content {
					@include display-flex();
				}
			}
			#dropdown-category-level {
				overflow: hidden;
				&:hover .filter-dropdown-content {
					@include display-flex();
				}
			}
			.filter-dropdown-content {
			    display: none;
			    @include display-flex();
			    @include flex-direction(column);
			    @include align-items(space-around);
			    @include justify-content(space-around);
			    position: absolute;
			    margin-top: -1px;
			    border-top-right-radius: 4px;
			    border-bottom-right-radius: 4px;
			    border-bottom-left-radius: 4px;
			    z-index: 1;
			    font-size: 14px;
			    .filter-level {
			    	float: none;
			    	background-color: #f2f2f2;
				    padding: 10px 15px 10px 15px;
				    margin: 0px;
				    border-right: 4px solid $secondary-color-dark;
				    border-top: 1px solid $secondary-color-light;
				    border-bottom: 1px solid $secondary-color-light;
				    font-family: $font-regular;
				    font-size: 14px;
				    font-weight: lighter;
				    text-decoration: none;
				    text-align: left;
				    cursor: pointer;
				    &:hover {
				    	border-right: 4px solid $primary-color;
				    }
			    }
			    .filter-category {
			    	float: none;
			    	background-color: #f2f2f2;
				    padding: 10px 15px 10px 15px;
				    margin: 0px;
				    border-right: 4px solid $secondary-color-dark;
				    border-top: 1px solid $secondary-color-light;
				    border-bottom: 1px solid $secondary-color-light;
				    font-family: $font-regular;
				    font-size: 14px;
				    font-weight: lighter;
				    text-decoration: none;
				    text-align: left;
				    cursor: pointer;
				    &:hover {
				    	border-right: 4px solid $primary-color;
				    }
			    }
			}
		}
		.card-event {
			@include display-flex();
			@include flex-direction(column);
			width: 25vw;
			background-color: white;
			margin: 0px 0px 20px 0px;
		.card-event-image {
			width: 100%;
			heigth: auto;
			cursor: pointer;
		}
		.card-event-image-overlay {
			@include display-flex();
			@include flex-direction(column);
			@include align-items(center);
			padding: 30px 10px;
			background-color: $overlay-grey-background;
			color: white;
			cursor: pointer;
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
			h2, span {
				cursor: pointer;	
			}
		}
		.event-card-details-container {
			@include display-flex();
			@include justify-content(center);
			.event-card-details {
				@include display-flex();
				@include flex-direction(column);
				@include justify-content(space-around);
				width: 90%;
				padding: 20px 5px 20px 5px;
				span {
					@include font-copy-text(16px, #393939);
				}
				div {
					@include font-copy-text(16px, black);
					margin: 10px 0px;
				}
				.event-card-details-filter-container {
					@include display-flex();
					.event-card-category, .event-card-level {
						@include display-flex();
						@include align-self(flex-end);
						margin-right: 10px;
						@include font-copy-text(14px, $primary-color);
					}
				}
			}
		}
	}
	}
}
// FILTER CLASSES
.filter-level-hide {
	display: none !important;
}
.filter-category-hide {
	display: none !important;
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ABOUT US
#wdw-about {
	@include display-flex();
	display: none;
	@include flex-direction(column);
	#header-image-about {
		@include header-image("../images/header-image-about.jpg");
		#txt-about {
			@include header-image-text();
			.btn-contact {
				@include display-flex();
				@include align-self(flex-start);
			}
		}
	}
	#speaker-container {
		@include display-flex();
		@include flex-wrap(wrap);
		width: 100vw;
		margin-left: 0px;
		.card-speaker {
		@include display-flex();
		height: 20vw;
		width: 20vw;
		margin: 0px;
		@include transform-style(preserve-3d);
		@include transition(0.4s);
		&:hover {
	  	@include transform (rotatey(-180deg)); 
	}

	.front, .back {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    @include backface-visibility(hidden);
	    @include transform (rotateX(0deg));
	    cursor: default;
	}
	.front {
	  	z-index: 3;
	  	.img-speaker {
	  		width: 100%;
	  		height: 100%;
	  	}
	}
	.back {
	  	z-index: 1;
	  	overflow: auto;
	  	background-color: $secondary-color-dark;
	  	word-wrap: break-word;
	 	@include transform(rotatey(-180deg));
	 	@include display-flex();
	 	@include flex-direction(column);
	 	@include align-items(center);
	 	@include justify-content(center);
	 	div {
	 		width: 90%;
	 		margin: 5px 0px;
	 		font-size: 12px;
	 		@include align-self(center);
	 		@include font-copy-text(12px);
	 		color: white;
	 	}
	 	.txt-speaker-name {
 			@include font-header(18px);
 			color: white;
	 	}
	 	.txt-speaker-occupation {
	 		@include font-subheader(16px);
	 		color: white;
	 	}
	}
	}
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// EVENT DETAILS

#wdw-event {
	@include display-flex();
	display: none;
	@include flex-direction(column);
	@include align-items(center);
	#header-image-event {
		@include display-flex();
		@include justify-content(center);
		@include align-items(center);
		width: 100vw;
		height: 375px;
		margin-left: 0px;
		#txt-event {
			width: 45vw;
			max-width: 600px;
			padding: 0px 30px 20px 20px;
			background-color: rgba(57,57,57, 0.9);
			color: #ffffff;
			h2 {
				margin-top: 20px;
			}
			p {
				margin: 20px 0px;
			}
		}
	}
	#wdw-event-content-container {
		width: 100vw;
		@include display-flex();
		@include flex-direction(column);
		@include align-items(center);
		#event-details-container {
			width: 80vw;
			@include display-flex();
			justify-content: flex-start;
		}
		#event-contributors-container {
			width: 80vw;
			@include display-flex();
			justify-content: flex-start;
			.card-speaker {
				@include display-flex();
				@include flex-direction(column);
				width: 30vw;
				height: auto;
				margin: 0px 10px 0px 10px;
				.card-speaker-header {
					width: 100%;
					height: 19vw;
					@include display-flex();
					@include flex-direction(column);	
					@include align-items(center);
					img {
						@include display-flex();
						width: 15vw;
						height: auto;
						border-radius: 50%;
						z-index: 5;
					}
					.card-speaker-header-background {
						width: 100%;
						height: 50%;
						background-color: #ffd92d;
						z-index: 4;
					}
				}
				.speaker-card-details {
					width: 90%;
					margin-top: auto	;
				}
			}
		}
		.separator {
			@include display-flex();
			@include justify-content(center);
			@include align-items(center);
			width: 100vw;
			height: 60px;
			margin: 20px auto 20px 0px;
			background-color: #eaeaea;
			color: black;
			font-size: 18px;
		}

	}
}
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ACCOUNTS+EVENTS COMMON
#menu-admin {
	margin: 25px 0px 0px 25px;
	button {
		width: 100px;
		margin-right: 15px;
	}
}
#wdw-accounts,
#wdw-events {
	width: 100%;
	h2 {
		text-align: center;
		margin-bottom: 15px;
	}
	select,
	label:not([class="floating-label"]),
	textarea,
	input:not([type="checkbox"]){
		height: 35px;
		width: 200px;
		margin: 5px;
		padding-left: 5px;
		word-wrap: normal;
		text-overflow: ellipsis;
	}
	input[type="checkbox"]{
		margin: 5px 5px 5px 10px;
	}
	textarea {
		padding-top: 5px;
	}
	button {
		width: 95px;
		margin: 5px;
		height: 35px;
	}
	.input-row {
		position: relative;
	}
	.label-row {
		margin: 5px;
	}
	label:not([class="floating-label"]) {
		line-height: 35px;
	}
}
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ACCOUNTS
#wdw-accounts {
	@include justify-content(center);
	#accounts-wrapper {
		@include display-flex();
		@include flex-direction(row);
		@include justify-content(center);
		width: 70%;	
	}
	#container-user-edit,
	#container-users {
		@include display-flex();
		@include flex-direction(column);
		@include align-items(center);
		input,
		select {
			margin-left: 0px;
			width: 205px;
		}
	}
	#table-users th {
		text-align: left;
		min-width: 50px;
		font-size: 1.1em;
		height: 50px;
	}
	#tbody-users {
		td:nth-child(-n+6) {
			width: 120px;
		}
		td:before {
			display: none;
	    content: attr(data-th)": ";
	  }
	  td {
	  	height: 25px;
	  }
	}
	#container-user-edit {
		margin-right: 50px;
		margin-bottom: 25px;
	}
	#container-user-edit-buttons {
		width: 220px;
	}
	.fa-edit:hover,
	.fa-remove:hover {
		cursor: pointer;
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// EVENTS

$admin-components-margin: 0px 10px 0px 10px;
#wdw-events {
	@include flex-direction(column);
	@include align-items(center);
	h2 {
		margin-top: 25px;
	}
	#txt-event-agenda, 
	#txt-event-description {
		height: 210px;
	}
	#txt-event-catch-phrase,
	#txt-event-brief-description {
		height: 75px;
	}
	#container-event-create,
	#container-event-extras,
	#container-event-list {
		@include display-flex;
		@include flex-direction(row);
		margin: $admin-components-margin;
	}
	#container-location-create,
	#container-partner-create,
	#container-speaker-create {
		@include display-flex;
		@include flex-direction(column);
	}
	#container-event-left,
	#container-event-right {
		margin: $admin-components-margin;
	}
	#container-event-list > * {
		margin: 5px 15px 5px 15px;
	}
	#container-edit-event-buttons {
		padding-right: 10px;
		padding-left: 10px;
		button {
			margin-right: 15px;
			margin-left: 15px;			
		}
	}
	#container-edit-location-buttons,
	#container-edit-partner-buttons,
	#container-edit-speaker-buttons {
		button {
			margin-right: 1px;
		}
	}
	#container-edit-event-buttons button {
		width: 198px;
	}
	#container-event-extras > * {
		margin: $admin-components-margin;
	}
}


// FLOATING LABELS STUFF
.floating-label {
  position:absolute;
  pointer-events:none;
  top: 5px;
  left: 10px;
  font-size: 12px;
  opacity:0;
  background-color: white;
  color: black;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.field:focus.field:valid + .floating-label {
	  opacity:1;
	  top:-5px;
	}
.field:focus + .floating-label {
  color: $secondary-color-dark;
}

/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
// SMARTPHONE


@media screen and (max-width: 480px) {
	#container-event-create,
	#container-event-extras,
	#container-event-list {
		flex-direction: column !important;
	}
	#tbody-users {
		td:before {
			display: inline-block !important;
			width: 5em;
			font-weight: bold;
	  }
	  td {
			display: block;
			min-width: 250px;
		}
	}
	#table-users thead {
		display: none;
	}
	#table-users th,
	#table-users td {
		margin: 10px 10px;
	}
	#accounts-wrapper {
		flex-direction: column !important;
	}
}

 /*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
// TABLET

@media only screen 
and (min-width: 481px)
and (max-width: 960px) {
	#accounts-wrapper {
		flex-direction: column !important;
		justify-content: flex-start !important;
	}
}