* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wdw {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-top: 75px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99; }

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  color: #4E4E4E;
  margin: 15% auto;
  padding: 20px;
  width: 45vw;
  height: 50vh;
  border-radius: 4px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 75px;
  top: 0px;
  left: 0px;
  z-index: 98px;
  background-color: #eaeaea;
  font-size: 24px; }
  .header .menu-icon {
    margin-left: 20px;
    cursor: pointer; }
  .header .logo {
    margin-right: 20px; }

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #ffd92d;
  color: #ffffff;
  font-size: 24px;
  z-index: 99; }
  #menu .menu-link {
    padding: 20px 0px 20px 0px;
    cursor: pointer; }

#content-overlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 98; }

.button {
  width: 250px;
  height: 40px;
  background-color: #ffd92d;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    background-color: #ffe77d; }

.cancel-button {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: #C1C1C1;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer; }
  .cancel-button:hover {
    background-color: #d1d1d1; }

.stop-scrolling {
  overflow: hidden; }

input[type="text"] {
  height: 40px;
  width: 350px;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
  border: none;
  font-size: 16px; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-index {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #wdw-index #header-image-index {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 375px;
    margin-left: 0px;
    background-image: url("../images/header-image-index.jpg"); }
  #wdw-index #event-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 90vw;
    margin-top: 40px; }
    #wdw-index #event-container .filter-button {
      cursor: pointer; }
    #wdw-index #event-container .filter-dropdown-content {
      display: none;
      min-width: 160px;
      overflow: auto;
      right: 0;
      z-index: 1; }
      #wdw-index #event-container .filter-dropdown-content span {
        display: block;
        cursor: pointer; }
    #wdw-index #event-container .card-event {
      width: 25vw;
      display: flex;
      flex-direction: column; }
      #wdw-index #event-container .card-event .card-event-image {
        width: 100%;
        heigth: auto;
        cursor: pointer; }
      #wdw-index #event-container .card-event .card-event-image-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
        background-color: rgba(0, 0, 0, 0.4);
        color: white; }
        #wdw-index #event-container .card-event .card-event-image-overlay:hover {
          background-color: rgba(0, 0, 0, 0.2); }
      #wdw-index #event-container .card-event .event-card-details {
        display: flex;
        flex-direction: column; }

.filter-level-hide {
  display: none !important; }

.filter-category-hide {
  display: none !important; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-about {
  display: flex;
  display: none;
  flex-direction: column; }
  #wdw-about #header-image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 375px;
    margin-left: 0px;
    background-image: url("../images/header-image-about.jpg"); }
    #wdw-about #header-image-about #txt-about {
      width: 45vw;
      max-width: 600px;
      padding: 0px 30px 20px 20px;
      background-color: rgba(57, 57, 57, 0.9);
      color: #ffffff; }
      #wdw-about #header-image-about #txt-about h2 {
        margin-top: 20px; }
      #wdw-about #header-image-about #txt-about p {
        margin: 20px 0px; }
  #wdw-about #speaker-container {
    display: flex;
    width: 100vw;
    margin-left: 0px;
    flex-wrap: wrap; }
    #wdw-about #speaker-container .card-speaker {
      display: flex;
      height: 20vw;
      width: 20vw;
      margin: 0px;
      transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s; }
      #wdw-about #speaker-container .card-speaker:hover {
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg); }
      #wdw-about #speaker-container .card-speaker .front, #wdw-about #speaker-container .card-speaker .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        cursor: default; }
      #wdw-about #speaker-container .card-speaker .front {
        z-index: 3; }
        #wdw-about #speaker-container .card-speaker .front .img-speaker {
          width: 100%;
          height: 100%; }
      #wdw-about #speaker-container .card-speaker .back {
        z-index: 1;
        background-color: #393939;
        color: #ffffff;
        word-wrap: break-word;
        line-height: 1.6;
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg); }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-event {
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center; }
  #wdw-event #header-image-event {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 375px;
    margin-left: 0px; }
    #wdw-event #header-image-event #txt-event {
      width: 45vw;
      max-width: 600px;
      padding: 0px 30px 20px 20px;
      background-color: rgba(57, 57, 57, 0.9);
      color: #ffffff; }
      #wdw-event #header-image-event #txt-event h2 {
        margin-top: 20px; }
      #wdw-event #header-image-event #txt-event p {
        margin: 20px 0px; }
  #wdw-event #wdw-event-content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #wdw-event #wdw-event-content-container #event-details-container {
      width: 90vw;
      display: flex;
      justify-content: flex-start; }
    #wdw-event #wdw-event-content-container #event-contributors-container {
      width: 90vw;
      display: flex;
      justify-content: flex-start; }
      #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker {
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: auto;
        margin: 0px 10px 0px 10px; }
        #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header {
          width: 100%;
          height: 19vw;
          display: flex;
          flex-direction: column;
          align-items: center; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header img {
            display: flex;
            width: 15vw;
            height: auto;
            border-radius: 50%;
            z-index: 5; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header .card-speaker-header-background {
            width: 100%;
            height: 50%;
            background-color: #ffd92d;
            z-index: 4; }
        #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details {
          width: 90%;
          margin-top: auto; }
    #wdw-event #wdw-event-content-container .separator {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 60px;
      margin: 20px auto 20px 0px;
      background-color: #eaeaea;
      color: black;
      font-size: 18px; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-accounts #container-edit,
#wdw-accounts #container-users {
  width: 50%; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-events {
  flex-direction: column; }
  #wdw-events h2 {
    margin-top: 25px; }

/*# sourceMappingURL=app.css.map */
