//@import 'helpers/sass-flexbox';
@mixin transition($time){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}

@mixin transform-style($style){
   transform-style: $style;
  -moz-transform-style: $style;
  -o-transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@mixin transform($transformation) {
  transform: $transformation;
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;  
}

@mixin backface-visibility($visibility: hidden) {
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

// WINDOWS

.wdw {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin-top: 75px;
}

// MODALS

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #F1F1F1;
	color: #4E4E4E;
    margin: 15% auto;
    padding: 20px;
    width: 45vw;
    height: 50vh;
    border-radius: 4px;
}

.header {
	//@include display-flex();
	//@include justify-content(space-between);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100vw;
	height: 75px;
	top: 0px;
	left: 0px;
	z-index: 98px;
	background-color: #eaeaea;
	font-size: 24px;
	.menu-icon {
		margin-left: 20px;
		cursor: pointer;
	}
	.logo {
		margin-right: 20px;
	}
}
#menu {
	//@include display-flex();
	//@include flex-direction(column);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	width: 250px;
	height: 100vh;
	top: 0px;
	left: -250px;
	width: 250px;
	height: 100vh;
	background-color: #ffd92d;//#eaeaea;
	color: #ffffff;
	font-size: 24px;
	z-index: 99;
	.menu-link {
		padding: 20px 0px 20px 0px;
		cursor: pointer;
	}
}
#content-overlay {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 98;
}
.button {
	width: 250px;
	height: 40px;
	background-color: #ffd92d;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	cursor: pointer;
	&:hover {
		background-color: #ffe77d;
	}
}
.cancel-button {
	width: 250px;
	height: 40px;
	padding-left: 10px;
	margin-top: 10px;
	background-color: #C1C1C1;
	color: #ffffff;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	box-shadow: none;
	cursor: pointer;
	&:hover {
		background-color: #d1d1d1;
	}

}
.stop-scrolling {
	overflow: hidden;
}

input[type="text"] {
	height: 40px;
	width: 350px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
}
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// ABOUT US
#wdw-about {
	display: flex;
	flex-direction: column;
	#header-image-about {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 375px;
		margin-left: 0px;
		background-image: url("../images/header-image-about.jpg");
		#txt-about {
			width: 45vw;
			max-width: 600px;
			padding: 0px 30px 20px 20px;
			background-color: rgba(57,57,57, 0.9);
			color: #ffffff;
			h2 {
				margin-top: 20px;
			}
			p {
				margin: 20px 0px;
			}
		}
	}
	#speaker-container {
		display: flex;
		width: 100vw;
		margin-left: 0px;
		flex-wrap: wrap;
		.card-speaker {
		display: flex;
		height: 20vw;
		width: 20vw;
		margin: 0px;
		@include transform-style(preserve-3d);
		@include transition(0.4s);
		&:hover {
	  	@include transform (rotatey(-180deg)); 
	}

	.front, .back {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    @include backface-visibility(hidden);
	    @include transform (rotateX(0deg));
	    cursor: default;
	}
	.front {
	  	z-index: 3;
	  	.img-speaker {
	  		width: 100%;
	  		height: 100%;
	  	}
	}
	.back {
	  	z-index: 1;
	  	background-color: #393939;
	  	color: #ffffff;
	  	word-wrap: break-word;
	  	line-height: 1.6;
	 	@include transform(rotatey(-180deg));
	}
	}
	}
}

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
// CONTACT
#mdl-contact {
	#success-message-contact {
		display: none;
	}
	#frm-contact {
		display: flex;
		flex-direction: column;
		width: 45vw;
		max-width: 600px;
		background-color: #eaeaea;
		padding: 30px 40px;
	}
}
#wdw-accounts {
	#container-edit,
	#container-users {
		width: 50%;
	}
}