/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
.wdw, .modal-content, .modal-content form, .modal-content form #container-message-subject, .modal-buttons, .header, .footer, #menu, #menu-admin, #menu .menu-link, #menu #btn-menu-events, #menu #btn-menu-accounts, #menu-admin .menu-link, #menu-admin #btn-menu-events, #menu-admin #btn-menu-accounts, #wdw-index, #wdw-index #header-image-index, #wdw-index #header-image-index #header-image-index-text, #wdw-index #event-container, #wdw-index #event-container #event-filters-container, #wdw-index #event-container #event-filters-container .filter-button, #wdw-index #event-container #event-filters-container #dropdown-filter-level:hover .filter-dropdown-content, #wdw-index #event-container #event-filters-container #dropdown-filter-category:hover .filter-dropdown-content, #wdw-index #event-container #event-filters-container #dropdown-filter-area:hover .filter-dropdown-content, #wdw-index #event-container #event-filters-container .filter-dropdown-content, #wdw-index #event-container .date-container, #wdw-index #event-container .date-container .date-label, #wdw-index #event-container .date-container .date-event-cards, #wdw-index #event-container .card-event, #wdw-index #event-container .card-event .card-event-image-overlay, #wdw-index #event-container .card-event .event-card-details-container, #wdw-index #event-container .card-event .event-card-details-container .event-card-details, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-category, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-level, #wdw-about, #wdw-about #header-image-about, #wdw-about #header-image-about #txt-about, #wdw-about #header-image-about #txt-about .btn-contact, #wdw-about #speaker-container, #wdw-about #speaker-container .card-speaker, #wdw-about #speaker-container .card-speaker .back, #wdw-event, #wdw-event #header-image-event, #wdw-event #header-image-event #txt-event, #wdw-event #header-image-event #txt-event #container-event-header-info, #wdw-event #header-image-event #txt-event #container-event-header-info #wdw-event-time, #wdw-event #wdw-event-content-container, #wdw-event #wdw-event-content-container #event-details-container, #wdw-event #wdw-event-content-container #event-agenda, #wdw-event #wdw-event-content-container #event-contributors-container, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header img, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details, #wdw-event #wdw-event-content-container .separator, #modals-admin .modal-content > div:first-of-type, #wdw-accounts #accounts-wrapper, #wdw-accounts #container-user-edit,
#wdw-accounts #container-users, #wdw-accounts #container-user-edit-buttons, #wdw-events #events-wrapper, #wdw-events #events-header, #mdl-event #container-event-create,
#mdl-event #container-event-list,
#mdl-event #events-content, #mdl-event #container-location-create,
#mdl-event #container-partner-create,
#mdl-event #container-speaker-create,
#mdl-event #container-event-extras > div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#mdl-event .extra-speaker,
#mdl-event .extra-partner {
  display: -webkit-inline-flex;
  display: inline-flex; }

/*
    Flex direction
 */
#wdw-accounts #accounts-wrapper, #mdl-event .modal-content, #mdl-event #container-event-create,
#mdl-event #container-event-list,
#mdl-event #events-content {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.modal-content, .modal-content form, #menu, #menu-admin, #wdw-index, #wdw-index #header-image-index #header-image-index-text, #wdw-index #event-container #event-filters-container .filter-dropdown-content, #wdw-index #event-container .date-container, #wdw-index #event-container .card-event, #wdw-index #event-container .card-event .card-event-image-overlay, #wdw-index #event-container .card-event .event-card-details-container .event-card-details, #wdw-about, #wdw-about #header-image-about #txt-about, #wdw-about #speaker-container .card-speaker .back, #wdw-event, #wdw-event #header-image-event #txt-event, #wdw-event #wdw-event-content-container, #wdw-event #wdw-event-content-container #event-agenda, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details, #modals-admin .modal-content > div:first-of-type, #wdw-accounts #container-user-edit,
#wdw-accounts #container-users, #wdw-events #events-wrapper, #wdw-events #events-header, #mdl-event #container-location-create,
#mdl-event #container-partner-create,
#mdl-event #container-speaker-create,
#mdl-event #container-event-extras > div {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
#wdw-index #event-container, #wdw-index #event-container .date-container, #wdw-about #speaker-container, #wdw-event #wdw-event-content-container #event-contributors-container, #mdl-event .modal-content, #mdl-event #events-content, #mdl-event #container-extra-partners,
#mdl-event #container-extra-speakers {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
#wdw-index #event-container .date-container .date-event-cards, #wdw-about #speaker-container .card-speaker .back {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-flex-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

#wdw-index #event-container #event-filters-container {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-flex-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.modal-content form, #wdw-index #header-image-index, #wdw-index #event-container .date-container .date-label, #wdw-index #event-container .card-event .event-card-details-container, #wdw-about #header-image-about, #wdw-event #header-image-event, #wdw-event #wdw-event-content-container .separator, #modals-admin .modal-content .modal-buttons, #modals-admin .modal-content > div:first-of-type, #wdw-accounts, #wdw-accounts #accounts-wrapper, #mdl-event .modal-content, #mdl-event #events-content {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

.header, #wdw-event #header-image-event #txt-event #container-event-header-info #wdw-event-time, #wdw-event #wdw-event-content-container #event-details-container, #wdw-event #wdw-event-content-container #event-contributors-container, #wdw-accounts #container-user-edit-buttons {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.footer, #wdw-index #event-container, #wdw-index #event-container #event-filters-container .filter-dropdown-content, #wdw-index #event-container .card-event .event-card-details-container .event-card-details, #wdw-event #header-image-event #txt-event #container-event-header-info {
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/*
    Align items
 */
#wdw-about #speaker-container .card-speaker .back, #mdl-event #events-content {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.modal-content, .modal-content form, .header, .footer, #menu, #menu-admin, #wdw-index, #wdw-index #header-image-index, #wdw-index #header-image-index #header-image-index-text, #wdw-index #event-container .date-container .date-label, #wdw-index #event-container .card-event .card-event-image-overlay, #wdw-about #header-image-about, #wdw-about #header-image-about #txt-about, #wdw-event, #wdw-event #header-image-event, #wdw-event #header-image-event #txt-event, #wdw-event #wdw-event-content-container, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details, #wdw-event #wdw-event-content-container .separator, #modals-admin .modal-content > div:first-of-type, #wdw-accounts #container-user-edit,
#wdw-accounts #container-users, #wdw-events #events-wrapper, #wdw-events #events-header, #mdl-event .extra-speaker,
#mdl-event .extra-partner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

#wdw-index #event-container #event-filters-container .filter-dropdown-content {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

/*
    Align self
 */
.modal-content form #container-message-subject, #menu .menu-link, #menu #btn-menu-events, #menu #btn-menu-accounts, #menu-admin .menu-link, #menu-admin #btn-menu-events, #menu-admin #btn-menu-accounts, #wdw-about #header-image-about #txt-about .btn-contact, #wdw-event #wdw-event-content-container #event-agenda {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start; }

.modal-buttons, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-category, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-level {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end; }

#wdw-about #speaker-container .card-speaker .back div, #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center; }

/*
    Align content
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default; }

body {
  background-color: #f1f1f1; }

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: "18px";
  font-weight: bold; }

p, span, td {
  font-family: "Open Sans", sans-serif;
  font-size: "16px";
  font-weight: lighter;
  color: "black"; }

h4, th, label {
  font-family: "Open Sans Condensed", sans-serif; }

.wdw {
  width: 100vw;
  min-height: 100vh;
  margin-top: 55px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99; }

.modal-content {
  background-color: #F1F1F1;
  color: #4E4E4E;
  margin: 5% auto;
  padding: 20px 20px 40px 20px;
  width: 45vw;
  height: 75vh;
  border-radius: 4px; }
  .modal-content h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: "18px";
    font-weight: bold;
    margin-bottom: 20px; }
  .modal-content p {
    margin-bottom: 20px; }
  .modal-content form {
    width: 90%; }
    .modal-content form #container-message-subject {
      margin-top: 10px; }
      .modal-content form #container-message-subject #message-subject {
        margin-right: 20px; }
      .modal-content form #container-message-subject .radio-button {
        margin-right: 20px; }
    .modal-content form input[type="text"] {
      height: 40px;
      width: 100%;
      margin: 10px 0px 10px 0px;
      padding-left: 10px;
      border: none;
      font-size: 16px; }
    .modal-content form #message-text {
      height: 115px !important; }

.modal-buttons {
  margin-top: 10px; }
  .modal-buttons .button, .modal-buttons .cancel-button {
    width: 150px;
    margin-left: 20px; }

.header {
  position: absolute;
  width: 100vw;
  height: 55px;
  top: 0px;
  left: 0px;
  z-index: 98px;
  background-color: #eaeaea;
  font-size: 24px; }
  .header .menu-icon, .header .admin-menu-icon {
    margin-left: 20px;
    cursor: pointer; }
  .header .logo {
    margin-right: 20px; }

.footer {
  width: 100vw;
  height: 55px;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-top: 20px;
  background-color: #393939; }
  .footer .lbl-partners {
    color: white !important; }
  .footer .partner-logo {
    height: 30px !important;
    width: auto; }

#menu, #menu-admin {
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #ffd92d;
  color: #ffffff;
  font-size: 38px;
  font-family: "Open Sans Condensed", sans-serif;
  z-index: 99; }
  #menu .menu-link, #menu #btn-menu-events, #menu #btn-menu-accounts, #menu-admin .menu-link, #menu-admin #btn-menu-events, #menu-admin #btn-menu-accounts {
    padding: 20px 0px 20px 0px;
    margin-left: 30px;
    cursor: pointer; }

#content-overlay, #admin-content-overlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 98; }

.button {
  width: 250px;
  height: 40px;
  background-color: #ffd92d;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    background-color: #ffe77d; }

.cancel-button, .edit-button {
  width: 250px;
  height: 40px;
  padding-left: 10px;
  background-color: #C1C1C1;
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  cursor: pointer; }
  .cancel-button:hover, .edit-button:hover {
    background-color: #d1d1d1; }

.stop-scrolling {
  overflow: hidden; }

input,
textarea {
  border: none;
  box-shadow: none; }

#credit {
  display: none; }

/*
input[type="text"] {
	height: 40px;
	width: 350px;
	margin: 10px 0px 10px 0px;
	padding-left: 10px;
	border: none;
	font-size: 16px;
}
*/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-index #header-image-index {
  width: 100vw;
  min-height: 375px !important;
  margin-left: 0px;
  background-image: url("../images/header-image-index.jpg"); }
  #wdw-index #header-image-index #header-image-index-text {
    width: 45vw;
    max-width: 600px;
    padding: 20px 30px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff; }
    #wdw-index #header-image-index #header-image-index-text h1 {
      margin-top: 20px;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 42px;
      font-weight: bold; }
    #wdw-index #header-image-index #header-image-index-text h3 {
      margin: 20px 0px;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: lighter; }
#wdw-index #event-container {
  max-width: 80vw;
  margin-top: 40px; }
  #wdw-index #event-container #event-filters-container {
    width: 100%; }
    #wdw-index #event-container #event-filters-container span {
      margin: 0px 40px 20px 0px;
      cursor: default;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: "18px";
      font-weight: bold; }
    #wdw-index #event-container #event-filters-container .filter-button {
      cursor: pointer; }
    #wdw-index #event-container #event-filters-container #dropdown-filter-level {
      overflow: hidden; }
    #wdw-index #event-container #event-filters-container #dropdown-filter-category {
      overflow: hidden; }
    #wdw-index #event-container #event-filters-container #dropdown-filter-area {
      overflow: hidden; }
    #wdw-index #event-container #event-filters-container .filter-dropdown-content {
      display: none;
      position: absolute;
      margin-top: -1px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      z-index: 1;
      font-size: 14px; }
      #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-level, #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-category, #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-area, #wdw-index #event-container #event-filters-container .filter-dropdown-content #filter-area-reset {
        float: none;
        background-color: #f2f2f2;
        padding: 10px 15px 10px 15px;
        margin: 0px;
        border-right: 4px solid #393939;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: lighter;
        text-decoration: none;
        text-align: left;
        cursor: pointer; }
        #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-level:hover, #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-category:hover, #wdw-index #event-container #event-filters-container .filter-dropdown-content .filter-area:hover, #wdw-index #event-container #event-filters-container .filter-dropdown-content #filter-area-reset:hover {
          border-right: 4px solid #ffd92d; }
  #wdw-index #event-container .date-container {
    border-left: 2px solid #ffd92d;
    min-height: 100px; }
    #wdw-index #event-container .date-container .date-label {
      width: auto;
      max-width: 150px;
      height: 40px;
      background-color: #ffd92d;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: "16px";
      font-weight: bold; }
    #wdw-index #event-container .date-container .date-event-cards {
      width: 80vw; }
      #wdw-index #event-container .date-container .date-event-cards .card-event {
        margin: 20px; }
  #wdw-index #event-container .card-event {
    width: 25vw;
    background-color: white;
    margin: 0px 0px 20px 0px; }
    #wdw-index #event-container .card-event .card-event-image {
      width: 100%;
      heigth: auto;
      cursor: pointer; }
    #wdw-index #event-container .card-event .card-event-image-overlay {
      padding: 30px 10px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      cursor: pointer; }
      #wdw-index #event-container .card-event .card-event-image-overlay:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      #wdw-index #event-container .card-event .card-event-image-overlay h2, #wdw-index #event-container .card-event .card-event-image-overlay span {
        font-family: "Open Sans Condensed", sans-serif;
        cursor: pointer; }
    #wdw-index #event-container .card-event .event-card-details-container .event-card-details {
      width: 90%;
      padding: 20px 5px 20px 5px; }
      #wdw-index #event-container .card-event .event-card-details-container .event-card-details span {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: #393939; }
      #wdw-index #event-container .card-event .event-card-details-container .event-card-details div {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        margin: 10px 0px; }
      #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-category, #wdw-index #event-container .card-event .event-card-details-container .event-card-details .event-card-details-filter-container .event-card-level {
        margin-right: 10px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-weight: lighter;
        color: #ffd92d; }
    #wdw-index #event-container .card-event .event-card-details-container .btn-display-event-details {
      display: none; }

.filter-level-hide, .filter-category-hide, .filter-area-hide {
  display: none !important; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-about {
  display: none; }
  #wdw-about #header-image-about {
    width: 100vw;
    min-height: 375px !important;
    margin-left: 0px;
    background-image: url("../images/header-image-about.jpg"); }
    #wdw-about #header-image-about #txt-about {
      width: 45vw;
      max-width: 600px;
      padding: 20px 30px 20px 20px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff; }
      #wdw-about #header-image-about #txt-about h2 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: "18px";
        font-weight: bold; }
  #wdw-about #speaker-container {
    width: 100vw;
    margin-left: 0px; }
    #wdw-about #speaker-container .card-speaker {
      height: 20vw;
      width: 20vw;
      margin: 0px;
      transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: 0.4s;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s; }
      #wdw-about #speaker-container .card-speaker:hover {
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg); }
      #wdw-about #speaker-container .card-speaker .front, #wdw-about #speaker-container .card-speaker .back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        cursor: default; }
      #wdw-about #speaker-container .card-speaker .front {
        z-index: 3; }
        #wdw-about #speaker-container .card-speaker .front .img-speaker {
          width: 100%;
          height: 100%; }
      #wdw-about #speaker-container .card-speaker .back {
        z-index: 1;
        overflow: auto;
        background-color: #393939;
        word-wrap: keep-all;
        transform: rotatey(-180deg);
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
        -ms-transform: rotatey(-180deg);
        -o-transform: rotatey(-180deg); }
        #wdw-about #speaker-container .card-speaker .back div {
          width: 90%;
          height: 90%;
          margin: 5px 0px;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          font-weight: lighter;
          color: "black";
          color: white; }
        #wdw-about #speaker-container .card-speaker .back .txt-speaker-name {
          font-family: "Open Sans Condensed", sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: white; }
        #wdw-about #speaker-container .card-speaker .back .txt-speaker-occupation {
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: bold;
          color: white; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-event {
  display: none; }
  #wdw-event #header-image-event {
    width: 100vw;
    min-height: 375px !important;
    margin-left: 0px; }
    #wdw-event #header-image-event #txt-event {
      width: 45vw;
      max-width: 600px;
      padding: 20px 30px 20px 20px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ffffff; }
      #wdw-event #header-image-event #txt-event h2 {
        font-family: "Open Sans Condensed", sans-serif;
        font-size: "18px";
        font-weight: bold;
        color: white; }
      #wdw-event #header-image-event #txt-event span {
        font-family: "Open Sans", sans-serif;
        font-size: "16px";
        font-weight: bold;
        color: white; }
      #wdw-event #header-image-event #txt-event #container-event-header-info {
        width: 90%;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: lighter;
        color: #eaeaea;
        margin-top: 15px; }
  #wdw-event #wdw-event-content-container {
    width: 100vw; }
    #wdw-event #wdw-event-content-container #event-details-container {
      width: 80vw;
      margin: 20px 0px 20px 0px; }
      #wdw-event #wdw-event-content-container #event-details-container #event-description {
        width: 75%;
        font-family: "Open Sans", sans-serif;
        font-size: "16px";
        font-weight: lighter;
        color: "black"; }
      #wdw-event #wdw-event-content-container #event-details-container #event-location {
        width: 17%; }
        #wdw-event #wdw-event-content-container #event-details-container #event-location #btn-reserve-seat {
          width: 175px;
          margin: 20px 0px 20px 0px; }
    #wdw-event #wdw-event-content-container #event-agenda {
      font-family: "Open Sans", sans-serif;
      font-size: "16px";
      font-weight: lighter;
      color: "black";
      width: 80vw;
      margin: 20px 0px 40px 20px; }
    #wdw-event #wdw-event-content-container #event-message-no-speakers {
      display: none; }
    #wdw-event #wdw-event-content-container #event-contributors-container {
      width: 80vw; }
      #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker {
        width: 22vw;
        padding: 0px 0px 40px 0px;
        margin: 0px 10px 40px 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #ffffff; }
        #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header {
          width: 100%;
          height: 19vw; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header img {
            width: 15vw;
            height: auto;
            border-radius: 50%;
            margin-top: 20px;
            z-index: 5; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .card-speaker-header .card-speaker-header-background {
            display: none;
            width: 100%;
            height: 50%;
            background-color: #ffd92d;
            z-index: 4; }
        #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details {
          width: 90%;
          font-family: "Open Sans", sans-serif;
          font-size: "16px";
          font-weight: lighter;
          color: "black"; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details h2 {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: "18px";
            font-weight: bold;
            margin-bottom: 5px; }
          #wdw-event #wdw-event-content-container #event-contributors-container .card-speaker .speaker-card-details span {
            font-family: "Open Sans", sans-serif;
            font-size: "16px";
            font-weight: bold;
            margin-bottom: 5px; }
    #wdw-event #wdw-event-content-container .separator {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: "18px";
      font-weight: bold;
      width: 100vw;
      height: 50px;
      margin: 0px auto 20px 0px;
      background-color: #eaeaea; }

#mdl-reservation .modal-content {
  margin: 15% auto;
  height: 55vh; }
  #mdl-reservation .modal-content .modal-buttons {
    margin-top: 20px; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
/*#menu-admin {
	margin: 25px 0px 0px 25px;
	button {
		width: 100px;
		margin-right: 15px;
	}
}*/
#wdw-accounts,
#wdw-events {
  width: 100%; }

#wdw-accounts,
#wdw-events,
.tab-admin-event {
  margin-top: 0px; }
  #wdw-accounts h2, #wdw-accounts h4,
  #wdw-events h2,
  #wdw-events h4,
  .tab-admin-event h2,
  .tab-admin-event h4 {
    height: 35px;
    line-height: 35px; }
  #wdw-accounts select,
  #wdw-accounts label:not([class="floating-label"]),
  #wdw-accounts textarea,
  #wdw-accounts input:not([type="checkbox"]),
  #wdw-events select,
  #wdw-events label:not([class="floating-label"]),
  #wdw-events textarea,
  #wdw-events input:not([type="checkbox"]),
  .tab-admin-event select,
  .tab-admin-event label:not([class="floating-label"]),
  .tab-admin-event textarea,
  .tab-admin-event input:not([type="checkbox"]) {
    height: 35px;
    width: 200px;
    margin-bottom: 10px;
    padding-left: 5px;
    word-wrap: normal;
    text-overflow: ellipsis; }
  #wdw-accounts input[type="checkbox"],
  #wdw-events input[type="checkbox"],
  .tab-admin-event input[type="checkbox"] {
    margin: 5px 5px 5px 10px; }
  #wdw-accounts textarea,
  #wdw-events textarea,
  .tab-admin-event textarea {
    padding-top: 5px; }
  #wdw-accounts button,
  #wdw-events button,
  .tab-admin-event button {
    width: 95px;
    margin-right: 5px;
    height: 35px; }
  #wdw-accounts .input-row,
  #wdw-events .input-row,
  .tab-admin-event .input-row {
    position: relative; }
  #wdw-accounts .label-row, #wdw-accounts h4,
  #wdw-events .label-row,
  #wdw-events h4,
  .tab-admin-event .label-row,
  .tab-admin-event h4 {
    margin: 5px; }
  #wdw-accounts label:not([class="floating-label"]),
  #wdw-events label:not([class="floating-label"]),
  .tab-admin-event label:not([class="floating-label"]) {
    line-height: 35px; }

#table-users th,
#table-events th {
  text-align: left;
  min-width: 50px;
  font-size: 1.1em;
  height: 50px; }

#tbody-events td {
  width: 200px; }
#tbody-events td:nth-last-of-type(-n+2) {
  width: 15px;
  text-align: center; }

table {
  border: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px; }

#tbody-users td,
#tbody-events td {
  border: none;
  padding: 5px; }
#tbody-users tr:nth-child(odd),
#tbody-events tr:nth-child(odd) {
  background-color: #fff; }
#tbody-users tr:hover,
#tbody-events tr:hover {
  background-color: #ffe77d; }
#tbody-users td:before,
#tbody-events td:before {
  display: none;
  content: attr(data-th) ": "; }
#tbody-users .fa-edit:hover,
#tbody-users .fa-remove:hover,
#tbody-users .fa-rotate-left:hover,
#tbody-events .fa-edit:hover,
#tbody-events .fa-remove:hover,
#tbody-events .fa-rotate-left:hover {
  cursor: pointer; }
#tbody-users .fa-edit:hover,
#tbody-users .fa-rotate-left:hover,
#tbody-events .fa-edit:hover,
#tbody-events .fa-rotate-left:hover {
  color: #CDDC39; }
#tbody-users .fa-remove:hover,
#tbody-events .fa-remove:hover {
  color: #F44336; }
#tbody-users .event-inactive,
#tbody-events .event-inactive {
  background-color: #FF8A80 !important; }

#modals-admin .modal-content {
  width: 75%; }
  #modals-admin .modal-content .modal-buttons {
    width: 100%;
    margin-bottom: 10px; }
#modals-admin .modal-content > div:first-of-type {
  height: 85%; }
  #modals-admin .modal-content > div:first-of-type input {
    height: 35px;
    width: 200px;
    margin-bottom: 10px;
    padding-left: 5px; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
#wdw-accounts #accounts-wrapper {
  margin-top: 100px;
  width: 70%; }
#wdw-accounts #container-user-edit input,
#wdw-accounts #container-user-edit select,
#wdw-accounts #container-users input,
#wdw-accounts #container-users select {
  margin-left: 0px;
  width: 205px; }
#wdw-accounts #container-user-edit {
  margin-right: 50px;
  margin-bottom: 25px; }
#wdw-accounts #container-user-edit-buttons {
  margin-left: 5px;
  width: 210px; }
#wdw-accounts #btn-add-new-user {
  margin-top: 10px; }
#wdw-accounts #tbody-users td:nth-child(-n+6) {
  width: 120px; }
#wdw-accounts #tbody-users td:nth-last-of-type(-n+2) {
  text-align: center; }

/********************************************************************************************************************************/
/********************************************************************************************************************************/
/********************************************************************************************************************************/
.second-modal {
  z-index: 100; }

#wdw-events #events-wrapper {
  width: 100%; }
#wdw-events #events-header {
  width: 65vw;
  margin-top: 70px; }
#wdw-events #btn-add-new-event {
  margin-top: 15px; }

#mdl-event .modal-content {
  overflow-y: scroll;
  overflow-x: hidden; }
#mdl-event #events-content {
  width: 100%;
  min-height: 420px; }
  #mdl-event #events-content h2 {
    margin-top: 25px; }
#mdl-event #txt-event-agenda {
  height: 210px; }
#mdl-event #txt-event-description {
  height: 255px; }
#mdl-event #txt-event-catch-phrase,
#mdl-event #txt-event-brief-description {
  height: 75px; }
#mdl-event #container-event-create,
#mdl-event #container-event-list,
#mdl-event #events-content {
  margin: 0px 10px 0px 0px; }
#mdl-event #container-event-left,
#mdl-event #container-event-right {
  margin: 0px 10px 0px 0px; }
#mdl-event #container-event-list > * {
  margin: 0px 10px 0px 0px; }
#mdl-event #container-edit-event-buttons {
  padding-right: 10px;
  padding-left: 10px; }
  #mdl-event #container-edit-event-buttons button {
    margin: 10px 10px 10px 0px; }
#mdl-event #container-buttons-box {
  width: 210px; }
#mdl-event #container-edit-event-buttons button {
  width: 198px; }
#mdl-event #container-event-extras > * {
  margin: 0px 10px 0px 0px; }
#mdl-event .tab-admin-event {
  min-width: 210px; }
#mdl-event #container-speaker-list {
  margin-bottom: 10px; }
#mdl-event #container-extra-partners,
#mdl-event #container-extra-speakers {
  max-width: 250px;
  margin-top: 5px; }
#mdl-event .extra-speaker,
#mdl-event .extra-partner {
  background-color: #ffe77d;
  border-radius: 15px;
  height: 35px;
  margin: 0px 5px 5px 0px; }
  #mdl-event .extra-speaker span,
  #mdl-event .extra-partner span {
    margin: 0px 10px 0px 10px; }
#mdl-event .fa-edit:hover,
#mdl-event .fa-remove:hover {
  cursor: pointer; }

.floating-label {
  position: absolute;
  pointer-events: none;
  top: 5px;
  left: 10px;
  font-size: 12px;
  opacity: 0;
  background-color: white;
  color: black;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.field:focus.field:valid + .floating-label {
  opacity: 1;
  top: -5px; }

.field:focus + .floating-label {
  color: #393939; }

/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
@media screen and (max-width: 480px) {
  #modals-admin .modal-content {
    width: 90vw !important; }
  #modals-admin .modal-buttons {
    flex-direction: column-reverse !important;
    align-items: center; }
    #modals-admin .modal-buttons button {
      margin: 0px 10px 10px 0px;
      width: 200px; }

  #mdl-event .modal-content {
    height: 90%; }
    #mdl-event .modal-content .label-row {
      text-align: center;
      padding: 0px; }
    #mdl-event .modal-content button {
      margin-bottom: 10px; }
    #mdl-event .modal-content #container-event-create,
    #mdl-event .modal-content #container-event-list,
    #mdl-event .modal-content #container-edit-event-buttons,
    #mdl-event .modal-content #container-event-partners,
    #mdl-event .modal-content #container-event-extras div {
      display: flex;
      flex-direction: column !important;
      align-items: center !important; }
    #mdl-event .modal-content .btn-edit {
      width: 200px !important; }

  #wdw-events #tbody-events td:before {
    display: inline-block !important;
    width: 75px;
    font-weight: bold;
    margin-right: 5px; }
  #wdw-events #tbody-events td {
    display: block;
    width: 280px !important; }
  #wdw-events #table-events thead {
    display: none; }
  #wdw-events #table-events th,
  #wdw-events #table-events td {
    margin: 10px 10px; }

  #wdw-accounts #tbody-users td:before {
    display: inline-block !important;
    width: 85px;
    font-weight: bold;
    margin-right: 5px; }
  #wdw-accounts #tbody-users td {
    display: block;
    width: 250px !important; }
  #wdw-accounts #table-users thead {
    display: none; }
  #wdw-accounts #table-users th,
  #wdw-accounts #table-users td {
    margin: 10px 10px; }
  #wdw-accounts #accounts-wrapper {
    flex-direction: column !important; } }
/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
@media only screen and (min-width: 481px) and (max-width: 765px) {
  #accounts-wrapper {
    flex-direction: column !important;
    justify-content: flex-start !important; }

  #container-event-left select,
  #container-event-left textarea,
  #container-event-left input,
  #container-event-right select,
  #container-event-right textarea,
  #container-event-right input {
    width: 160px !important; } }
/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
@media only screen and (min-device-width: 765px) and (max-device-width: 1024px) {
  #wdw-index #header-image-index-text {
    width: 85vw !important; }
  #wdw-index #event-container {
    max-width: 95vw;
    margin-top: 40px; }
    #wdw-index #event-container .date-container {
      width: 100%; }
  #wdw-index .card-event {
    width: 30vw !important; }
    #wdw-index .card-event .event-card-details-container .event-card-details-filter-container .event-card-category, #wdw-index .card-event .event-card-details-container .event-card-details-filter-container .event-card-level {
      font-size: 12px !important; }
    #wdw-index .card-event .event-card-details-container .btn-display-event-details {
      display: block !important;
      width: 100%; }

  #wdw-event #txt-event {
    width: 85vw !important; }
  #wdw-event #event-details-container {
    width: 90vw !important; }
    #wdw-event #event-details-container #event-location {
      width: 20% !important; }
      #wdw-event #event-details-container #event-location #btn-reserve-seat {
        width: 125px !important; }
  #wdw-event #event-contributors-container {
    width: 90vw !important; }
    #wdw-event #event-contributors-container .card-speaker {
      width: 29vw !important;
      margin: 0px !important; }

  #mdl-reservation .modal-content {
    margin: 25% auto;
    width: 75vw;
    height: 35vh; }
    #mdl-reservation .modal-content h2 {
      margin-bottom: 20px; }
    #mdl-reservation .modal-content p {
      margin-bottom: 20px; }
    #mdl-reservation .modal-content .modal-buttons {
      margin-top: 20px; }

  #wdw-about #txt-about {
    width: 85vw !important; }

  #mdl-contact .modal-content {
    margin: 15% auto;
    width: 75vw;
    height: 55vh; }
    #mdl-contact .modal-content h2 {
      margin-bottom: 20px; }
    #mdl-contact .modal-content p {
      margin-bottom: 20px; }
    #mdl-contact .modal-content #container-message-subject {
      margin-bottom: 20px; }
    #mdl-contact .modal-content .modal-buttons {
      margin-top: 20px; } }
/*********************************************************************************************/
/*********************************************************************************************/
/*********************************************************************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #wdw-index #header-image-index {
    min-height: 225px !important; }
    #wdw-index #header-image-index #header-image-index-text {
      width: 85vw !important; }
  #wdw-index #event-container {
    max-width: 95vw;
    margin-top: 40px; }
    #wdw-index #event-container #event-filters-container {
      justify-content: flex-start; }
      #wdw-index #event-container #event-filters-container #lbl-filters {
        margin-right: 20px !important; }
    #wdw-index #event-container .date-container {
      width: 100vw;
      margin-left: 0px;
      border: none !important; }
      #wdw-index #event-container .date-container .date-label {
        width: 100vw;
        max-width: 100vw; }
      #wdw-index #event-container .date-container .date-event-cards {
        flex-direction: column !important; }
      #wdw-index #event-container .date-container .card-event {
        width: 90vw !important;
        min-height: 400px; }
        #wdw-index #event-container .date-container .card-event .event-card-details-container {
          margin-top: 20px; }
          #wdw-index #event-container .date-container .card-event .event-card-details-container .btn-display-event-details {
            display: block !important; }

  #wdw-event #header-image-event {
    min-height: 225px !important; }
    #wdw-event #header-image-event #txt-event {
      width: 85vw !important; }
  #wdw-event #event-details-container {
    width: 90vw;
    flex-direction: column;
    align-items: center; }
    #wdw-event #event-details-container #event-description {
      width: 100% !important; }
    #wdw-event #event-details-container #event-location {
      width: 40% !important;
      display: flex !important;
      flex-direction: column !important;
      align-self: flex-start;
      margin-top: 20px !important; }
  #wdw-event #event-contributors-container {
    width: 90vw; }
    #wdw-event #event-contributors-container .card-speaker {
      width: 90vw !important; }
      #wdw-event #event-contributors-container .card-speaker .card-speaker-header {
        height: auto !important; }
        #wdw-event #event-contributors-container .card-speaker .card-speaker-header img {
          width: 25vw !important; }

  #mdl-reservation .modal-content {
    width: 90vw;
    height: 45vh; }
    #mdl-reservation .modal-content form {
      width: 97%; }
      #mdl-reservation .modal-content form .modal-buttons {
        width: 100%;
        justify-content: space-between; }
        #mdl-reservation .modal-content form .modal-buttons .button, #mdl-reservation .modal-content form .modal-buttons .cancel-button {
          width: 45%;
          margin-left: 0px; }

  #wdw-about #header-image-about {
    min-height: 225px !important; }
    #wdw-about #header-image-about #txt-about {
      width: 100vw !important;
      align-items: flex-start; }
      #wdw-about #header-image-about #txt-about #btn-contact {
        margin-top: 20px; }
  #wdw-about #speaker-container .card-speaker {
    width: 50vw !important;
    height: 50vw !important; }
    #wdw-about #speaker-container .card-speaker .txt-speaker-occupation {
      font-size: 14px !important; }

  #mdl-contact .modal-content {
    width: 90vw;
    height: 85vh; }
    #mdl-contact .modal-content form {
      width: 100%; }
      #mdl-contact .modal-content form #container-message-subject {
        flex-direction: column !important; }
      #mdl-contact .modal-content form .modal-buttons {
        width: 100%;
        justify-content: space-between; }
        #mdl-contact .modal-content form .modal-buttons .button, #mdl-contact .modal-content form .modal-buttons .cancel-button {
          width: 45%;
          margin-left: 0px; } }

/*# sourceMappingURL=app.css.map */
